@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MiFuente';
    src: url(../src/fonts/Utendo-Semibold.ttf);
    font-weight: normal;
    font-style: normal;
}